@import 'variables';
@import 'base';

.dashboardWrapper {
  margin-top: 40px;
  margin: 15px;
  h1 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
    padding: 5px;
    border-left: 3px solid #5940b5;
    color: $primary-text-color;
    display: block;
  }
  
  h4 {
    font-size: 16px;
    color: #586874;
    margin-bottom: 40px;
  }

  .request-card {
    min-height: 300px;
    background-color: #262E33;
    border: 2px solid #303a40;
    border-top: 5px solid #5940b5;
    border-radius: 6px;
    text-align: center;
    margin-top: 20px;

    img {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      display: block;
      border-radius: 50%;
    }

    h5 {
      margin: 25px 0 10px 0;
      font-size: 18px;
      background: inherit;
    }

    p {
      margin: 0 0 10px;
      font-weight: 400;
      color: #617582;
      background: inherit;
    }

    .item {
      font-size: 14px;
      color: #ff6060;
      background: inherit;
    }

    .request-action {
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;

      .btn-accept {
        border-top: 2px solid #364148;
        border-right: 2px solid #364148;
        color: #617582;
      }

      .btn-message {
        border-top: 2px solid #364148;
        border-right: 2px solid #364148;
        color: #617582;
      }
    }
  }

  .pending-request {
    margin: 0 -15px 30px -15px;

    h2 {
      background-color: #6639b4;
      color: #fff;
      margin: 0;
      padding: 20px;
      font-size: 18px;
      font-weight: 200;
    }
  }
}

.note-action {
  padding: 0px auto;
  min-height: 100px;

  .container-inline {
    padding: 10px;

    .btn {
      height: 30px;
      width: 70px;
      font-size: 12px;
      padding: 5px;
    }
  }

  input:focus {
    border: none;
    box-shadow: none;
    padding: 10px;
    height: 30px;
    width: 100%;
  }
}

.pending-request {
  max-height: 300px;
  overflow-y: scroll;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      background-color: #262e33;
      height: auto;
      line-height: 40px;
      padding: 10px;
      color: #6a7882;

      a {
        color: #fff;
        font-weight: 200;
        padding: 0;

        .request-block {
          display: inline-block;
          margin-left: 2%;

          .request-name {
            font-size: 16px;
            color: #e1e1e1;
            display: block;
            margin-top: -4px;
          }

          .request-itemSlack {
            margin-top: -16px;
            color: #66767d;
            font-weight: 400;
          }

          .request-itemName {
            float: left;
            font-size: 14px;
            font-weight: 400;
            color: #9ebdd4;
            margin-bottom: -5px;
            margin-top: -17px;
          }
        }
      }

      img {
        overflow: hidden;
        float: left;
        margin: 4px;
        width: 70px;
        height: 70px;
      }
    }

    li:nth-child(2n) {
      background-color: #313b42;
    }
  }
}

.side-bar {
  margin-top: 70px;
}

