@import 'variables';
@import 'base';

.main-wrapper {
  width: 40%;
  min-height: 400px;
  margin: 50px auto;

  h2 {
    text-align: center;
    color: $primary-text-color;
    font-family: $font-family;
    font-weight: 100;
  }

  .login-pane {
    width: 100%;
    min-height: 300px;
    background-color: #262E33;
    border: 2px solid #303a40;
    border-top: 5px solid #5940b5;
    border-radius: 6px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    display: flex;

    span {
      text-align: center;
      margin: auto;
      color: #fff;
      cursor: pointer;
    }
  }
}


.navbar {
  border-bottom: 3px solid #2c343a;
  background: $primary-color;
  padding: 0px;
  .nav-menu {
    float: right;
    .nav-item:nth-child(2),
    .nav-item:last-child {
      border-left: 3px solid #2c343a;
    }
    .nav-item {
      margin: 0 20px;
      padding: 10px;
      .nav-link {
        color: #617582;
        line-height: 3.5;
      }  
      button.btn-logout {
        line-height: 3.5;
        cursor: pointer;
        background: #5940b5;
      }
    }
  }

  .nav-bar-logo-wrapper {
    border-right: 3px solid #2c343a;
    .navbar-brand {
      color: #fff;
    }
    .navbar-brand {
      .logo-holder {
        .nav-bar-logo {
          width: 42px;
          height: 42px;
          margin-top: 12px;
          margin-right: 10px;
          margin-left: 10px;
          float: left;    
        }
        .logo-name {
          margin-bottom: 0;
          font-size: 28px;
          font-weight: 200;
          font-family: $font-family;
        }
        .slogan {
          font-size: 11px;
          color: #9ebdd4;
        }
      }
    }
  }
}
.tooltips {
  max-width: 190px;
}

.site-color {
  background: '#2c343a'
}

